node_modules/
dist/
.env*
.vercel
.firebase
build/
*.log
*.lock
.DS_Store

# Frontend specifics
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.vercel
frontend/.firebase

# Backend specifics
backend/node_modules/
backend/dist/
backend/.env*
